<p>Start browsing interested candidates</p>
<form ng-submit="signupUser()">
    <p>
        <input type="text" data-ng-model="signup.email" placeholder="Email" name="email">
    </p>
    <p>
        <input type="password" data-ng-model="signup.password" placeholder="Password" name="password">
    </p>
    <p>
        <input type="text" data-ng-model="signup.company" placeholder="Company Name">
    </p>
    <p>
        <select ng-options="item.name for item in positionValues" ng-model="signup.selectedPosition">
            <option style="display:none" value="">Position Type</option>
        </select>
    </p>
    <p>
        <select ng-options="item.name for item in locationValues" ng-model="signup.selectedLocation">
            <option style="display:none" value="">City</option>
        </select>
    </p>
    <p>{{signup}}</p>
    <p>
        <input type="submit" value="Sign Up" data-ng-disabled="!signup.email || !signup.password || !signup.company || !signup.selectedPosition || !signup.selectedLocation">
    </p>
</form>
